.home {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: var(--gradient-primary-reverse);
}

.home__intro {
  position: relative;
  background: var(--gradient-dark);
  color: var(--light);
  border-right: 2px solid var(--skeuomorphism-stroke);
  border-bottom: 3px solid var(--skeuomorphism-stroke);
  box-shadow: var(--shadow-skeuomorphism-large);  
  padding: var(--space-2);
  text-align: left;
  height: 100%;
  height: -webkit-fill-available;
  padding: 4.5rem var(--space-2);
  max-width: 39rem;
}

.screw {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background: var(--gradient-dark-reverse);
  border: 3px solid var(--skeuomorphism-stroke);
  border-radius: 50%;
  box-shadow: var(--shadow-skeuomorphism);
}

.screw-top-left {
  top: var(--space-1);
  left: var(--space-1);
}

.screw-top-right {
  top: var(--space-1);
  right: var(--space-1);
}

.screw-bottom-left {
  bottom: var(--space-1);
  left: var(--space-1);
}

.screw-bottom-right {
  bottom: var(--space-1);
  right: var(--space-1);
}

.home__player-section .screw {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background: var(--gradient-primary-reverse);
  border: 1px solid var(--skeuomorphism-stroke);
  border-radius: 50%;
  box-shadow: var(--shadow-skeuomorphism);
}

.home__player-section .screw-top-left {
  top: var(--space-1);
  left: var(--space-1);
}

.home__player-section .screw-top-right {
  top: var(--space-1);
  right: var(--space-1);
}

.home__player-section .screw-bottom-left {
  bottom: var(--space-1);
  left: var(--space-1);
}

.home__player-section .screw-bottom-right {
  bottom: var(--space-1);
  right: var(--space-1);
}

.home__most-played .screw {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background: var(--gradient-primary-light-reverse);
  border: 1px solid var(--skeuomorphism-stroke);
  border-radius: 50%;
  box-shadow: var(--shadow-skeuomorphism);
}


.home__most-played .screw-top-left {
  top: var(--space-1);
  left: var(--space-1);
}

.home__most-played .screw-top-right {
  top: var(--space-0-5);
  right: var(--space-1);
}

.home__most-played .screw-bottom-left {
  bottom: var(--space-1);
  left: var(--space-1);
}

.home__most-played .screw-bottom-right {
  bottom: var(--space-1);
  right: var(--space-1);
}

.home__intro_inner {
    display: flex;
    flex-direction: column;
    background: var(--gradient-dark-reverse);
    padding: var(--space-1-5);
    gap: var(--space-4);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-skeuomorphism-large-inverted);
}

.big_logo {
  width: 100%;
  height: auto;
}

.home__intro h3 {
  color: var(--light);
}

.intro {
  text-align: center;
}


.home__description {
  text-align: center;
  margin-top: var(--space-1);
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.calendar_inner {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar h3 {
  color: var(--light);
  text-shadow: 
    0px 2px 2px var(--dark),  /* light edge below = highlight */
    0px -2px 2px var(--skeuomorphism-stroke);        /* dark edge above = shadow */
}

.calendar_inner li {
  padding: var(--space-1) 0;
  border-bottom: 1px solid var(--primary-light);
}

.home__cta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  margin-top: var(--space-1-5);
}




.home__player-section {
  position: relative;
  container-type: inline-size;
  container-name: player-section;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-2);
  width: 100%;
  max-width: 1000px; 
  margin: auto;

}

.home__most-played {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  background: var(--gradient-primary);
  color: var(--light);
  border-right: 2px solid var(--skeuomorphism-stroke);
  border-bottom: 3px solid var(--skeuomorphism-stroke);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-skeuomorphism-large);  
  padding: var(--space-2);
}

.home__most-played h2 {
  color: var(--light);
  text-shadow: 
    0px 2px 2px var(--dark),  /* light edge below = highlight */
    0px -2px 2px var(--skeuomorphism-stroke);        /* dark edge above = shadow */
}


@media (max-width: 480px) {
  .home__player-section {
    padding-inline: var(--space-1);
  }

  .home__most-played {
    padding: var(--space-1);
  }
}


@media (max-width: 1000px) {
  .home {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .home__intro {
    border-radius: 0;
    max-width: unset;
    width: 100%;
  }

  .big_logo {
    height: auto;
    width: 100%;
  }

}

@media (min-width: 1600px) {
  .home__player-section {
    /* flex-direction: row; */
  }

  .home__most-played {
    height: fit-content;
  }

}