.home {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: var(--gradient-primary-reverse);
}

.home__intro {
  background: var(--gradient-dark);
  color: var(--light);
  padding: var(--space-2);
  text-align: left;
  height: 100%;
  padding: 4.5rem var(--space-2);
  max-width: 39rem;
}

.home__intro_inner {
    display: flex;
    flex-direction: column;
    background: var(--gradient-dark-reverse);
    padding: var(--space-1-5);
    gap: var(--space-4);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-skeuomorphism-large-inverted);
}

.home__intro h3 {
  color: var(--light);
}

.intro {
  text-align: center;
}


.home__description {
  text-align: center;
  margin-top: var(--space-1);
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.calendar_inner {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar_inner li {
  padding: var(--space-1) 0;
  border-bottom: 1px solid var(--primary-light);
}

.home__cta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  margin-top: var(--space-1-5);
}




.home__player-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-4) var(--space-2);
  width: 100%;
}

.home__most-played {
  background: var(--gradient-primary);
  color: var(--light);
  border-color: var(--skeuomorphism-stroke-color);
  border-width: 0 0 2px 2px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-skeuomorphism-large);  
  padding: var(--space-1-5);
}

.home__most-played h2 {
  color: var(--light);
}

.home__all-shows {
  display: inline-block;
  margin-top: 12px;
  padding: 8px 16px;
  border-radius: var(--radius-sm);
  background: var(--dark);
  color: var(--light);
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

@media (max-width: 900px) {
  .home {
    padding: 0;
    flex-direction: column;
    width: 100%;
  }

  .home__intro {
    border-radius: 0;
    max-width: unset;
    width: 100%;
  }

  .big_logo {
    height: var(--space-2)!important;
    width: 100%;
  }


}
