button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

/* ---- Button variants (fill in from Figma "Button" component) ---- */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-skeuomorphism);
  color: var(--primary-light);
  /* height: 2.5rem; */
  padding: 0.5rem 1rem;
  gap: var(--space-0-5);
  border-color: var(--skeuomorphism-stroke-color);
  border-width: 0 0 2px 2px;
  border-radius: var(--radius-sm);
  text-decoration: none;
  white-space: normal;
  word-break: break-word;
  width: fit-content;
}

.btn-primary { 
  background: var(--primary);
  color: var(--light);
}
.btn-secondary {
  background: var(--accent-1);
  color: var(--light);
}
.btn-tertiary {
  background: var(--accent-2);
  color: var(--light);
}

.btn-bigPlayButton {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--accent-2);
  color: var(--light);
}

.btn:active {
  box-shadow: var(--shadow-skeuomorphism-inverted);
  border-color: var(--skeuomorphism-stroke-color);
  border-width: 2px 2px 0 0 ;
}
