.icon-wrapper {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.noContent {
    /* height: 50%; */
    width: 100%;
}

.noContent img{
    height: 100%;
}

img {
    height: 100%;
}

.has-content.large {
    height: 2.5rem!important;
}