.player-card {
  background: var(--gradient-primary);
  color: var(--light);
  border-color: var(--skeuomorphism-stroke-color);
  border-width: 0 0 2px 2px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-skeuomorphism-large);  
}

.player-card_header {
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  background: var(--gradient-dark-reverse);
  border: 1px solid var(--gradient-dark);
  padding: var(--space-1-5);
}

.player-card_content {
  display: flex;
  flex-direction: column;
  background: var(--gradient-primary);
  padding: var(--space-1-5);
  border-radius: var(--radius-md);
  gap: var(--space-1-5);
}

.player-card__title {
  color: var(--light);
}

.player-card__screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--gradient-light);
  color: var(--primary);
  border-radius: var(--radius-sm);
  border: 1px solid var(--gradient-light-reverse);
  padding: var(--space-1);
  font-family: var(--font-mono);
  text-align: left;
  box-shadow: var(--shadow-screen);
  min-height: 11rem;

}

.player-card__show {
  color: var(--dark);
}

.player-card__date {
  margin: 0
}


.player-card__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: var(--space-1-5);
  background: var(--gradient-primary);
  padding: var(--space-1) var(--space-1-5);
  border-color: var(--skeuomorphism-stroke);
  border-width: 2px 2px 0 0;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-skeuomorphism-inverted);
}

.player-card__extra {
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-1);
}

.controls {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-1-5);
}

@media (max-width: 900px) {
  .player-card__controls {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-1) var(--space-0-5);
  }

  .player-card__extra {
    width: 100%;
  }
  
}

@media (max-width: 480px) {
  .controls {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

