.player-card {
  position: relative;
  background: var(--gradient-primary);
  color: var(--light);
  /* outline: 1px solid var(--skeuomorphism-stroke); */
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-skeuomorphism-large);  
}


.player-card .screw {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background: var(--gradient-primary-reverse);
  border: 1px solid var(--skeuomorphism-stroke);
  border-radius: 50%;
  box-shadow: var(--shadow-skeuomorphism);
}

.player-card .screw-top-left {
  top: var(--space-1);
  left: var(--space-1);
}

.player-card .screw-top-right {
  top: var(--space-1);
  right: var(--space-1);
}

.player-card .screw-bottom-left {
  bottom: var(--space-1);
  left: var(--space-1);
}

.player-card .screw-bottom-right {
  bottom: var(--space-1);
  right: var(--space-1);
}

.player-card_header {
  position: relative;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  background: var(--gradient-dark-reverse);
  border-right: 2px solid var(--skeuomorphism-stroke);
  padding: var(--space-1-5);
}

.player-card_content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--gradient-primary);
  padding: var(--space-2);
  border-bottom-right-radius: var(--radius-md);
  border-bottom-left-radius: var(--radius-md);
  border-right: 2px solid var(--skeuomorphism-stroke);
  border-bottom: 2px solid var(--skeuomorphism-stroke);
  gap: var(--space-1-5);
}

.player-card__title {
  color: var(--light);
  text-shadow: 
    0px 2px 2px var(--dark),  /* light edge below = highlight */
    0px -2px 2px var(--skeuomorphism-stroke);        /* dark edge above = shadow */
}

.player-card__screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--gradient-light);
  color: var(--primary);
  border-radius: var(--radius-sm);
  border: 1px solid var(--gradient-light-reverse);
  padding: var(--space-1);
  font-family: var(--font-mono);
  text-align: left;
  box-shadow: var(--shadow-screen);
  min-height: 11rem;

}

.player-card__show {
  color: var(--dark);
}

.player-card__date {
  margin: 0
}


.player-card__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1-5);
  padding: var(--space-1) var(--space-1-5);
  background: var(--gradient-primary);
  border-color: var(--skeuomorphism-stroke);
  border-width: 2px 2px 0 0;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-skeuomorphism-inverted);
}

.player-card__extra {
  display: inline-flex;
  /* flex-direction: column; */
  gap: var(--space-1);
}

.controls {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-1-5);
}

@container player-section (max-width: 700px) {
  .player-card__controls {
    align-items: center;
    justify-content: center;
    padding: var(--space-1) var(--space-0-5);
  }
  .controls {
        gap: var(--space-0-5);
  }
}



