 .show-list {
  position: relative;
  container-type: inline-size;
  container-name: show-list;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-0-5);
}

.show-list__item {
  position: relative;
}

.show-list__item .screw, .home__most-played .show-list__item .screw {
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  background: var(--gradient-primary-light-reverse);
  border: 1px solid var(--skeuomorphism-stroke);
  border-radius: 50%;
  box-shadow: var(--shadow-skeuomorphism);
}

.show-list__item .screw-top-left, .home__most-played .show-list__item .screw-top-left {
  top: var(--space-0-5);
  left: var(--space-0-5);
}

.show-list__item .screw-top-right, .home__most-played .show-list__item .screw-top-right {
  top: var(--space-0-5);
  right: var(--space-0-5);
}

.show-list__item .screw-bottom-left, .home__most-played .show-list__item .screw-bottom-left {
  bottom: var(--space-0-5);
  left: var(--space-0-5);
}

.show-list__item .screw-bottom-right, .home__most-played .show-list__item .screw-bottom-right {
  bottom: var(--space-0-5);
  right: var(--space-0-5);
}

.show-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-1);
  padding: var(--space-1);
  background: var(--primary-light);
  border-radius: var(--radius-sm);
  border: 1px solid var(--skeuomorphism-stroke);
  text-align: left;
  box-shadow: var(--shadow-skeuomorphism);
}

.show-list__title {
  color: var(--dark);
  margin: 0;
}

.show-list__date {
  opacity: 0.7;
  color: var(--primary);
}

.show-list__actions {
  display: flex;
  flex-direction: row;
  gap: var(--space-0-5);
  flex-shrink: 0;
}

.show-list__actions__top {
  display: flex;
  gap: var(--space-0-5);
}



@container show-list ( min-width: 401px) and (max-width: 700px) {
  .show-list__item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@container show-list (max-width: 400px) {
  .show-list__item {
    flex-direction: column;
  }
    .show-list__actions {
    display: grid;
    margin-top: var(--space-0-5);
  }
}